

<footer class="bg-dark text-center text-white">
    
    <div class="container p-4 pb-0">
      <img src="../../../assets/wsp.png" class="rounded-circle " width="50" height="50" alt="img wsp">
      <h4>Número de contacto</h4>
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"> 
            +56 9 8272 0459</a>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Gonzalo Astorga Castillo
    </div>

  </footer>