<div class="container-fluid py-5 ">
    <!-- nombre, img y descripcion -->
    <div class="container mb-4">
        <div class="row">
            <!-- nombre -->
            <div class="col-12">
                <h2 class="text-center my-5 display-3 ">Museos de Ciencias y arte</h2>
            </div>
            <!-- imagen -->
            <div class="col-12 text-center">
                <img class="img_juego etxt-center" src="assets/a_00001.png" alt="foto del juego" >
            </div>
        </div>
    </div>
    <!-- descripcion -->
    <div class="container py-5 mb-5">
        <div class="row">
            <div class="col p-4 text-center shadow rounded parteA ">
                <h3 class="display-4 my-3">Descripción</h3>
                <p>Proyecto de asignatura de ingenieria de software, walking simulator de museos de ciencias y artes con toques de collectathon y aventura, actualmente en desarrollo en Unity 3d.</p>
            </div>
        </div>
    </div>
    <!-- video -->
    <!-- <div class="container pb-5">
        <div class="row ">
            <div class="col embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/coVZsAeIsWU" allowfullscreen></iframe>
            </div>
        </div>
    </div> -->
    <!-- video -->
    <div class="container pb-5">
        <div class="row ">
            <div class="col embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/coVZsAeIsWU" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<!-- descarga -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center shadow rounded py-5 borde_A">
            <p >Aqui para descargar el APK directamente</p>
            <a class= "font-weight-bold" href="https://mega.nz/file/8HQFGSqS#a0whY1wyCKgcILwm8JHfQvgDK1Gtv28eMOT924Ft89Y">-Descargar-</a>
        </div>
    </div>
</div> -->


 <!-- galeria de imagenes -->
 <div class="container-fluid page-top py-5 parteB shadow">
    <h3 class="text-center display-2 mb-5 mt-3 text-white ">Galería de imágenes</h3>
    <div class="row p-5">

        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/aw1.png" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/pj.png" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/a.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/b.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/c.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/d.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/e.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/f.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/g.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/h.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/i.jpg" alt="foto del juego" class="img_g">
        </div>

        
    </div>
</div>