.fondoPrincipal{
  background-color: antiquewhite;
  height: 80vh;
  background-image: url(../../../assets/imgFondo.gif) ;
  //height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
//   -webkit-filter: blur(10px);
//   -moz-filter: blur(10px);
//   -o-filter: blur(10px);
//   -ms-filter: blur(10px);
//   filter: blur(10px);
}

.circulo {
	width: 40rem;
	height: 40rem;
	border-radius: 50%;
    border: rgba(255, 255, 255, 0.5) 1rem solid;
	background: rgba(255, 0, 0, 0.404);
    backdrop-filter: blur(10px);
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
    color: white;

    img{
        width:50%;
    }

}