<div class="container-fluid text-center fondoPrincipal d-flex align-items-center justify-content-center">
    <!-- <div class="row"> -->
        <!-- <div class="col-md-4 offset-md-2 rounded-circle text-center circulo"> -->
            <!-- <img class="img-responsive "  src="../../../assets/imgFondo.gif" alt="imagen de fondo"> -->
            <!-- <h1>Desarrollo de Videojuegos</h1> -->
            <!-- <h2>Gonzalo Astorga Castillo</h2> -->
        <!-- </div> -->
    <!-- </div> -->
    <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
            <div class=" col-md-12 circulo ">
                <img class="img-responsive mb-5" src="assets/controloA.png" alt="img pagina actual">
                <h1>Desarrollo Videojuegos</h1>
                <h2>Gonzalo Astorga Castillo</h2>
            </div>
        </div>

    </div>
    <!-- <div class="container">
        bla
    </div> -->
</div>