<div class="container-fluid py-5 ">
    <!-- descripcion -->

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center my-5 display-3 ">Gatuh Run</h2>
            </div>
            <div class="col-6 offset-3">
                <img class="img_juego" src="assets/runLogo.png" alt="foto del juego" >
            </div>
        </div>
    </div>

    
    <div class="container py-5 mb-5">
        <div class="row">
            <div class="col p-4 text-center shadow rounded parteA ">
                <h3 class="display-4 my-3">Descripción</h3>
                <p>Primer juego desarrollado, es un infinite runner similar a bit trip, las acciones que debe realizar son saltar, ejecutar una patada y rodar, además de tener que tocar la pantalla sobre algunas enemigos en particular.</p>
            </div>
        </div>
    </div>
    <!-- video -->
    <div class="container pb-5">
        <div class="row ">

            <div class="col embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/O9STu8qWCPY" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<!-- descarga -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center shadow rounded py-5 borde_A">
            <p >Aqui para descargar el APK directamente</p>
            <a class= "font-weight-bold" href="assets/Gatuh Run.rar">-Descargar-</a>
        </div>
    </div>
</div>



 <!-- galeria de imagenes -->
<div class="container-fluid page-top py-5 parteB shadow">
    <h3 class="text-center display-2 mb-5 mt-3 text-white ">Galería de imágenes</h3>
    <div class="row p-5">
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/gat_1.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/gat_2.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/gat_3.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/gat_4.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/gat_5.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/gat_6.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/gat__7.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/gat_8.jpg" alt="foto del juego" class="img_g">
        </div>
    </div>
</div>
