<div class="container-fluid py-5 ">
    <!-- nombre, img y descripcion -->
    <div class="container mb-4">
        <div class="row">
            <!-- nombre -->
            <div class="col-12">
                <h2 class="text-center my-5 display-3 ">Full Metal Cat</h2>
            </div>
            <!-- imagen -->
            <div class="col-12 text-center">
                <img class="img_juego etxt-center" src="assets/fmc.png" alt="foto del juego" >
            </div>
        </div>
    </div>
    <!-- descripcion -->
    <div class="container py-5 mb-5">
        <div class="row">
            <div class="col p-4 text-center shadow rounded parteA ">
                <h3 class="display-4 my-3">Descripción</h3>
                <p>Actual juego en desarrollo, se realiza con Unity 3D y esta enfocado a PC. Su genero es metroidvania.</p>
            </div>
        </div>
    </div>
    <!-- video -->
    <div class="container pb-5">
        <div class="row ">

            <div class="col embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pmSjiIrEMMM" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<!-- descarga -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center shadow rounded py-5 borde_A">
            <p >Aqui para descargar el APK directamente</p>
            <a class= "font-weight-bold" href="https://mega.nz/file/8HQFGSqS#a0whY1wyCKgcILwm8JHfQvgDK1Gtv28eMOT924Ft89Y">-Descargar-</a>
        </div>
    </div>
</div>


 <!-- galeria de imagenes -->
 <!-- <div class="container-fluid page-top py-5 parteB shadow">
    <h3 class="text-center display-2 mb-5 mt-3 text-white ">Galería de imágenes</h3>
    <div class="row p-5">
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/lmm0.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/lmm1.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/lmm2.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/lmm3.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/lmm4.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/lmm5.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/lmm6.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/lmm7.jpg" alt="foto del juego" class="img_g">
        </div>
        <div class="col-12 col-md-6 rounded my-3 p-3">
            <img src="assets/lmm8.jpg" alt="foto del juego" class="img_g">
        </div>
        
    </div>
</div> -->
