<div class="container my-5 py-3">
  <h3 class="text-center display-3 my-4">Lista Juegos</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <div class="col my-3">
          <div class="card">
            <img
              src="../../../assets/runLogo.png"
              class="card-img-top "
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Gatuh Run</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>
          </div>
        </div>

        <div class="col my-3">
          <div class="card">
            <img
              src="../../../assets/pipicu.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Purucu & Pipicu</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.
              </p>
            </div>
          </div>
        </div>

        <div class="col my-3">
          <div class="card">
            <img
              src="../../../assets/lmm.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Little Mutant Mouse</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural lead-in to
                additional content.
              </p>
            </div>
          </div>
        </div>

        <div class="col my-3">
            <div class="card">
                <img
                src="../../../assets/fmc.png"
                class="card-img-top"
                alt="..."/>
                <div class="card-body">
                <h5 class="card-title">Full Metal Cat</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                </p>
                </div>
            </div>
        </div>

        <div class="col my-3">
            <div class="card">
                <img
                src="../../../assets/a_00001.png"
                class="card-img-top rounded"
                alt="..."/>
                <div class="card-body">
                <h5 class="card-title">Museo de Ciencias y Arte</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                </p>
                </div>
            </div>
        </div>

        <div class="col my-3">
            <div class="card">
                <img
                src="../../../assets/cuack.png"
                class="card-img-top"
                alt="..."/>
                <div class="card-body">
                <h5 class="card-title">Otros</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                </p>
                </div>
            </div>
        </div>

      </div>
</div>