<div class="container my-5 py-3">
  <h3 class="text-center display-3 my-4">Lista Juegos</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
      
        <div class="col my-3 d-flex align-items-stretch">
          <div class="card">
            <img
              src="assets/runLogo.png"
              class="card-img-top "
              alt="..."
            />
            <div class="card-body ">
              <h5 class="card-title">Gatuh Run</h5>
              <p class="card-text">
                Primer juego desarrollado, es un infinite runner similar a bit trip, las acciones que debe realizar son saltar, ejecutar una patada y rodar, además de tener que tocar la pantalla sobre algunas enemigos en particular.
              </p>
            </div>
          </div>
        </div>

        <div class="col my-3 d-flex align-items-stretch">
          <div class="card">
            <img
              src="assets/pipicu.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Purucu & Pipicu</h5>
              <p class="card-text">
                Es un juego de plataforma para celular, para superar cada etapa es necesario recoger cierto número de peces y llevarlo al final donde se encuentra un iglu. Al terminar el juego se desbloqueo otro modo de juego, esta se compone de mini-juegos.
              </p>
            </div>
          </div>
        </div>

        <div class="col my-3 d-flex align-items-stretch">
          <div class="card">
            <img
              src="assets/lmm.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Little Mutant Mouse</h5>
              <p class="card-text">
                Juego de plataforma para celular, su mecánica principal es poder disparar y realizar dash. Fue el último juego desarrollado en Construct 2, este juego de progresa recolectando esferas de mutación, estas abren puertas a los jefes de cada zona y aumenta el ataque de las balas.
              </p>
            </div>
          </div>
        </div>

        <div class="col my-3 d-flex align-items-stretch">
            <div class="card">
                <img
                src="assets/fmc.png"
                class="card-img-top"
                alt="..."/>
                <div class="card-body">
                <h5 class="card-title">Full Metal Cat</h5>
                <p class="card-text">
                  Actual juego en desarrollo, se realiza con Unity 3D y esta enfocado a PC. Su genero es metroidvania..
                </p>
                </div>
            </div>
        </div>

        <div class="col my-3 d-flex align-items-stretch">
            <div class="card">
                <img
                src="assets/a_00001.png"
                class="card-img-top rounded"
                alt="..."/>
                <div class="card-body">
                <h5 class="card-title">Museos de Ciencias y Arte</h5>
                <p class="card-text">
                    Proyecto de asignatura de ingenieria de software, walking simulator de museos de ciencias y artes con toques de collectathon y aventura, actualmente en desarrollo en Unity 3d.
                </p>
                </div>
            </div>
        </div>

        <div class="col my-3 d-flex align-items-stretch">
            <div class="card">
                <img
                src="assets/cuack.png"
                class="card-img-top"
                alt="..."/>
                <div class="card-body">
                <h5 class="card-title">Otros</h5>
                <p class="card-text">
                    Coleccion de varios pequeños proyectos.
                </p>
                </div>
            </div>
        </div>

      </div>
</div>